<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="js/js_script.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>BURGER SHOT</title>
</head>

<body>

    <header>
        <h1>Burger Shot</h1>
        <img src="https://vignette.wikia.nocookie.net/gtawiki/images/6/61/Men%C3%BA_burger_shot_iv.png/revision/latest?cb=20100321183226">
    </header>
    <main>
        <section class="Bur">

            <h3>It's bleedin' tasty!</h3>
            <div id="myID">
                Choose your meal
            </div>

            <div id="container">
                <div class="gridCell" v-for="item in burgers">
                    <h3 class="gridHeaders"> {{item.itemName}} <input type="checkbox" name="chosenBox" :value="item.itemName"> </h3>
                    <img v-bind:src="item.itemImg" />
                    <ul>
                        <li>{{item.itemStat}}</li>
                        <li v-if="item.lactose">Contains <span class="bold">{{lactose}}</span></li>
                        <li v-else>{{lactoseFree}}</span>
                        </li>
                        <li v-if="item.gluten">Contains <span class="bold">{{gluten}}</span></li>
                        <li v-else>{{glutenFree}}</li>
                    </ul>
                </div>
        </section>

        <section class="CustomerInfo">
            <h3>Customer details</h3>
            <div>Provide your information here</ div>
                <h4>Delivery information:</h4>
                <section id="contact">
                    <form id="customerInfo">
                        <p>
                            <label for="firstname">Full name</label><br>
                            <input v-model="firstname" id="fname" type="text" name="fn" required="required" placeholder="First name" />
                        </p>

                        <p>
                            <label for="email">E-mail</label><br>
                            <input v-model="email" id="email" type="email" name="mail" required="required" placeholder="email@example.com" />
                        </p>

                        <p>
                            <label for="payment">Payment method</label><br/>
                            <select v-model="orderpayment" id="payment" name="rcp">
                        <option>Card</option>
                        <option>Swish</option>
                        <option>Cash</option>
                    </select>
                        </p>
                        <div>
                            <h3> Where do you want the delivery? </h3>
                            <div class="view-box">
                                <div id="dots" v-on:click="displayOrder">
                                    <div v-bind:style="{ left: localOrder.details.x + 'px', top: localOrder.details.y + 'px'}">
                                        {{localOrder.orderId}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <label for="recipient">Gender</label><br>
                            <input v-model="gender" type="radio" name="gender" value="male"> Male<br>
                            <input v-model="gender" type="radio" name="gender" value="female"> Female<br>
                        </p>
                    </form>
                    <button v-on:click="addOrder" id="submitbutton" type="submit"> Places your order
            </button>
            </div>
            </section>
        </section>
        <section id="orderinformation" v-if="orderIsPlaced">
            <h4>Customer info</h4>
            Name: {{firstname}} <br> Email: {{email}} <br> Payment option: {{orderpayment}} <br> Gender: {{gender}}
            <h4>Order Summary</h4><span v-for="localOrder in orderSummary">{{localOrder}}</span>
            <br> <br> May it be of great taste.
        </section>
    </main>
    <footer>&#169 Anton J, 2020</footer>
</body>

</html>