<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fire burgers cuh</title>
    </head>
    <body>                
        <h1>Burger time my dude</h1>
        <section>

            <h3>Burger menu</h3>
            <div>Choose your burger here</div>
            <h4>The Whack Burger</h4>
            <img src="https://i.ytimg.com/vi/FJM6wd0ehWQ/maxresdefault.jpg"  width="350">   
            <ul>
                <li>No allergenes</li>
                <li>Not suitable for vegans</li>
                <li>Tastes like shit</li>
            </ul>
        </section>
    <section>
        <h3>Customer details</h3>
        <div>Provide your information here</div>
        <h4>Delivery information:</h4>
    </section>
       <a href="/map" target="_blank">Open map in new window</a>.
    
        <footer>Copyright Christer Pettersson, 2020</footer>
    </body>
</html>
