<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">.
        <title>Fire burgers cuh</title>
    </head>
    <body>                
        <h1>Burger time my dude</h1>
        <section>

            <h3>Burger menu</h3>
            <div>Choose your burger here</div>

            <table>
                <thead>
                    <th>The Whack Burger</th>

                    <th>Extra big berger</th>

                    <th>What is that?</th>
                </thead>
                    <tbody>
                        <tr>
                            <td><img src="https://i.ytimg.com/vi/FJM6wd0ehWQ/maxresdefault.jpg" height="200" width="340"></td>
                            <td><img src="http://3.bp.blogspot.com/_j1v_Cj26Tyk/TPCOdCKGKRI/AAAAAAAAAFs/MoTq035wB60/s1600/Burger1996.jpg"  height="200" width="340"></td>   
                            <td><img src="https://media-cdn.tripadvisor.com/media/photo-s/08/54/51/6e/nasty-burger.jpg" height="200" width="340"></td>
                        </tr>    
                        <tr>
                            <ul>
                            <td>No allergenes</td>
                            <td>Chefs choice</td>
                            <td>Found outside kitchen</td>
                            </ul>
                        </tr>
                        <tr>
                            <td>Tastes like shit</td>
                            <td>Maximum taste, maximum lactose</td>
                            <td>Contains cheese</td>
                        </tr>
                        <tr>
                            <td>Not suitable for anyone</td>
                            <td>Tasty one</td>
                            <td>Great experience</td>
                        </tr>
                    </tbody>

        </table>
        </section>
    <section>
        <h3>Customer details</h3>
        <div>Provide your information here</div>
        <h4>Delivery information:</h4>
        <section id="contact">
            <form>
                <p>
                    <label for="firstname">Full name</label><br>
                    <input type="text" id="firstname" name="fn" required="required" placeholder="First name" />
                </p>
                <p>
                    <label for="lastname">E-mail</label><br>
                    <input type="email" id="lastname" name="ln" placeholder="email@example.com" />
                </p>
                <p>
                    <label for="lastname">Street</label><br>
                    <input type="text" id="email" name="em" required="required" placeholder="Steet name" />
                </p>
                </p>
                <p>
                    <label for="lastname">House</label><br>
                    <input type="number" id="email" name="em" required="required" placeholder="House Number" />
                </p>
                <p>
                    <label for="recipient">Payment method</label><br />
                    <select id="recipient" name="rcp">
                        <option>Card</option>
                        <option>Swish</option>
                        <option>Cash</option>
                    </select>
                </p>
                <p>
                    <body>
                        <label for="recipient">Gender</label><br>
                        <form action="">
                          <input type="radio" name="gender" value="male"> Male<br>
                          <input type="radio" name="gender" value="female"> Female<br>
                          <input type="radio" name="gender" value="other"> Other
                        </form>
                        </body>
                </p>
                <button type="submit"><img src="http://www.clker.com/cliparts/9/u/r/y/z/z/order-button-hi.png" height="70" width="120" /> Places your order</button>
                        
            </form>
        </section>
    </section>
       <a href="/map" target="_blank">Open map in new window</a>.
    
        <footer>&#169 Christer Pettersson, 2020</footer>
    </body>
</html>
