body {
    font-family: Arial;
    font-size: large;
    background-color: lightgray;
}

button:hover {
    background-color: green;
    cursor: crosshair;
}

table {
    height: 200px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

#Allergene {
    font-weight: bold;
}

.Bur{
    background-color: grey;
    color: white;
}

.CustomerInfo {
}

