body {
    font-family: Arial;
    font-size: large;
    background-color: lightgray;
}

header {
    overflow: hidden;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
}

.bold {
    font-weight: bold;
}

.gridHeaders {
    font-size: x-large;
}

.gridCell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.gridCell img{
    width: 390px;
    height: 310px;
}

/* javascript */
.cellItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

#wrapp {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
}

header > img{
    width: 100%;
    height: auto;
    opacity: 0.9;
    z-index: 0;
}

header > h1 {
    position: absolute;
    margin-left: 200px;
    margin-top: 350px;
    font: arial;
    font-size: 5em;
    z-index: 1;
}

.wrapper {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: auto auto auto;
    background-color: black;
}

.item1 {
    grid-row: 1;
    grid-column: 1;
}

.item2 {
    grid-row: 1;
    grid-column: 2;
}

.item3 {
    grid-row: 1;
    grid-column: 3;
}

button{margin-top: 20px;}

button:hover {
    background-color: green;
    cursor: crosshair;
}

table {
    height: 200px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

section {
    margin: 8px;
}

#Allergene {
    font-weight: bold;
}

.Bur{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: left;
    border: 6px dashed rgba(255, 255, 255);
    border-radius: 19px;
}

.CustomerInfo {
    border: 6px dashed rgba(0,0,0,0.74);
    border-radius: 19px;
    padding: 15px;
    text-align: left;
}

