
body {
    font-family: Arial;
    font-size: large;
    background-color: lightgray;
}

button:hover {
    background-color: green;
    cursor: crosshair;
}


#Allergene {
    font-weight: bold;
}

.Bur{
    background-color: grey;
    color: white;
}

.CustomerInfo {
}

